.banner-container {
    color: white;
    background-color:black;
}
.body {
    background-image:  url('{% static "images/base/gray-texture.jpeg" %}');
    background-repeat: repeat-x;
}
.imgbanner {
    width:100%;
    max-width: 800px;
    height:auto;
}
