.banner-container {
    color: white;
    background-color:black;
}
body {
   /* background-image:url("/staticfiles/images/base/gray-texture.webp"); */
    background-repeat: repeat;
    background-color:#e2d274;
}
.imgbanner {
    width:100%;
    max-width: 800px;
    height:auto;
}

.cards__single {

    cursor: pointer;
    text-align: center;
  }
  .cards__front {
    transform: rotateX(0deg);
  }
  .cards__front,
  .cards__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
  }
  .cards__front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  
  .cards__back {
    transform: rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 10px;
    color: #20263f;
  }
 
 .cards__single {
     transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .cards__single.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .fade {
   width:200px;
   height: 200px;
   opacity:0;
 }
 .elementToFadeInAndOut {
   animation: fadeInOut 4s linear forwards;
 }
 
 
 
 @keyframes fadeInOut {
   0% { opacity:0; }
   100% { opacity:1; } 
  }
