.banner-container {
    color: white;
    background-color:black;
}
.body {
    background-image: url("/app/staticfiles/images/base/gray-texture.jpg");
    background-repeat: repeat-x;
}
.imgbanner {
    width:100%;
    max-width: 800px;
    height:auto;
}
