{% extends "base.html" %}
{% load static %}
{% block title %} Homepage {% endblock %} 
{% block content %}
<h1 class="header">Pick your card</h1>

{% with tarot_generate as tarot %}
<div class="row">
	<div class="col col-lg-2 col-md-12 offset-lg-1 col-sm-12 d-flex justify-content-start cards__single">
        <div class="cards__front">
			<img class="img-tarot" src="{% static 'images/base/whiteroseback.png' %}" >
        </div>
        <div class="cards__back">
			<a href="{% url 'home' %}"><img class="img-tarot" src="{{ tarot.figure.url }}"></a>		
		</div>	
	</div>
	<div class="col col-sm-12 col-md-12 col-lg-6 offset-lg-3 d-flex justify-content-center">
		<div class="fadeout">
			<h2>This is the Whiterose Project</h2>
			<p>It is my personal reinterpretation of the Rider-Waite-Smith's Tarot Deck.
				Each Tarot card's symbology stems from the original deck, even though some cards differ from the original in a significant way.
				Feel free to explore!
			</p>
		</div>	
		<div class="fade">
						
		<h2 class="tip-tarot">{{ tarot.short_tip }}</h2>
		<p> {{ tarot.description }}</p>
		</div>
	</div>
</div>
	{% endwith %}

<script>
const cards = document.querySelectorAll(".cards__single");
var div = document.querySelector(".fade");
var fade_out = document.querySelector(".fadeout")

function flipCard() {
  this.classList.add("flip");
  fadefunction()
}
function fadefunction() {
	div.classList.add("elementToFadeInAndOut");
	fade_out.classList.add("fadeout_active");
};


cards.forEach((card) => card.addEventListener("click", flipCard));
</script>
{% endblock %}