{% extends "base.html" %}
{% load static %}
{% block title %} Homepage {% endblock %} 
{% block content %}
<h1 class="header">Pick your card</h1>

{% with tarot_generate as tarot %}
<div class="row">
	<div class="col d-flex justify-content-center cards__single">
        <div class="cards__front">
			<img src="{% static 'images/base/whiteroseback.png' %}" height="250vh">
        </div>
        <div class="cards__back">
			<a href="{% url 'home' %}"><img src="{{ tarot.figure.url }}" height="250vh"></a>		
		</div>	
	</div>
</div>
<div class="row">
	<div class="col d-flex justify-content-center">
		<div class="fadeout d-flex justify-content-center">
		<h1>Pick your Tarot Card</h1>
		<p>Select the Tarot Card once to get your reading. Select twice to get another card.</p>
		</div>
				<div class="fade">
					<div class="card w-75 d-flex justify-content-center">
						<div class="card-body">
		<h2 class="card-title">{{ tarot.short_tip }}</h2>
		<p class="card-text"> {{ tarot.description }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
	{% endwith %}

<script>
const cards = document.querySelectorAll(".cards__single");
var div = document.querySelector(".fade");
var fade_out = document.querySelector(".fadeout")

function flipCard() {
  this.classList.add("flip");
  fadefunction()
}
function fadefunction() {
	div.classList.add("elementToFadeInAndOut");
	fade_out.classList.add("fadeout_active");
};


cards.forEach((card) => card.addEventListener("click", flipCard));
</script>
{% endblock %}