{% extends "base.html" %}
{% load static %}
{% block title %} Tarot Meanings {% endblock %} 
{% block content %}
<div class="container-fluid top20">
    <div class="row">
{% for tarot in tarot_list %}


    <div class="col-4">
        <img class="icon-tarot" data-toggle="modal" data-target="#{{ tarot.name|cut:' ' }}" src="{{ tarot.figure.url }}" alt="{{ tarot.name }}">
    </div>


<div class="modal" id="{{ tarot.name|cut:' ' }}" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{{ tarot.name }}</h2>

            </div>
            <div class="modal-body">
                <p>{{ tarot.description }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bg-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}
    </div>
</div>
{% endblock %}